body {
  padding-top: 30px;
}
.input-group {
  /* display: block; */
  margin-right: 20px;
}
.card {
  padding: 30px 50px;
  max-width: 80%;
  margin: 0 auto;
}
.container {
  display: block;
  margin: 0 auto;
}
form {
  margin: 0 50px;
}
/* h1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
} */
.snow {
  width: 100px;
  position: relative;
  top: 20px;
  left: 60px;
}
.high-low-temp {
  text-align: left;
  font-size: 22px;
  color: black;
  padding: 0px;
}
.high-low-temp ul {
  padding-left: 0px 0px 0px 12px;
}

.form-control {
  padding-left: 10px;
}
.form-control:focus {
  box-shadow: 1px 1px 5px #ec971f;
  border-color: #ec971f;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
hr {
  border: 0;
  height: 3px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #ec971f, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #ec971f, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #ec971f, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #ec971f, #f0f0f0);
}
.weather-icon {
  padding-left: 12px;
}

.weather-icon li {
  list-style: none;
  font-size: 14px;
  color: black;
  width: 100%;
  text-align: left;
}
.weather-icon li::first-letter {
  text-transform: uppercase;
}
/* .weather-icon {
  padding-right: 0px;
} */
.weather-icon ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.fa-temperature-high {
  color: #202124;
}
.fa-temperature-low {
  color: #70757a;
}
.low-degree {
  color: black;
}
.low-temp,
.high-temp {
  display: flex;
  align-items: center;
  width: 60px;
  /* justify-content: space-between; */
  padding-top: 15px;
}
.high-degree,
.low-degree {
  margin-left: 5px;
}

.unit {
  align-self: flex-start;
  font-size: 13px;

  /* margin-top: -4px; */
}
.city {
  padding-left: 15px;
}
.city h1 {
  margin-bottom: 2px;
  font-weight: 300;
}
.city ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.city li {
  text-align: left;
  list-style: none;
}
.degree-units {
  position: absolute;
  top: 4px;
}
.predict h4 {
  text-transform: uppercase;
}
.forcast-container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 5px;
}
.forcast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0px;
  width: 100%;
}
.forcast-day {
  text-transform: uppercase;
}
.forcast-degree {
  position: relative;
  padding-right: 4px;
  margin: 0 5px;
}
.forcast-degree::after {
  font-size: 8px;
  position: absolute;
  top: 0px;
  right: -2px;
  content: "o";
}
.predict-bar {
  display: flex;
  align-items: center;
}
.forcast-bar {
  width: 70%;
  height: 4px;
  border-radius: 5px;
  overflow: hidden;
  background: rgb(137, 192, 254);
  background: linear-gradient(
    90deg,
    rgba(137, 192, 254, 1) 0%,
    rgba(104, 253, 139, 1) 29%,
    rgba(249, 221, 52, 1) 62%,
    rgba(253, 72, 17, 1) 84%,
    rgba(172, 0, 0, 1) 100%
  );
  position: relative;
}
.forcast-bar div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: dimgray;
}

#celsius,
#fahrenheit {
  text-decoration: none;
}
#current-degree {
  width: auto;
  text-align: left;
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
}
#city {
  text-transform: capitalize;
  margin-top: 0px;
}

.clicked {
  color: black;
  cursor: default;
}
#celsius:focus,
#celsius:active,
#fahrenheit:focus,
#fahrenheit:active {
  text-decoration: none;
  color: black;
}
.clicked:hover {
  color: black;
}
footer {
  padding-left: 0px !important;
  display: block !important;
  border-width: 0px !important;
}
#weather-description {
  padding: 5px 0px;
}
#weather-icon {
  margin-left: -10px;
}
.row {
  justify-content: space-around;
}
