body {
  padding-top: 30px;
}
.card {
  padding: 30px 50px;
  max-width: 80%;
  margin: 0 auto;
}
.container {
  display: block;
  margin: 0 auto;
}
#weather-form {
  margin: 0 50px;
}
.current-location-btn {
  transition: all 20ms ease-in-out;
  box-shadow: 2px 2px 5px #767373 !important;
}
.current-location-btn:hover {
  opacity: 0.9;
  cursor: pointer;
  color: #ec6e4c;
  background-color: #454a4f;
}

.snow {
  width: 100px;
  position: relative;
  top: 20px;
  left: 60px;
}
.high-low-temp {
  text-align: left;
  font-size: 22px;
  color: black;
}
.high-low-temp ul {
  padding-left: 5px;
}

.form-control {
  padding-left: 10px;
}
.form-control:focus {
  box-shadow: 1px 1px 5px #ec6e4c;
  border-color: #ec6e4c;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
hr {
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #ec6e4c, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #ec6e4c, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #ec6e4c, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #ec6e4c, #f0f0f0);
}
.weather-icon {
  padding-left: 0px;
}

.weather-icon li {
  list-style: none;
  font-size: 14px;
  color: black;
  width: 100%;
  text-align: center;
}
.weather-icon li::first-letter {
  text-transform: uppercase;
}
.weather-icon ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.fa-temperature-high {
  color: #202124;
  width: 25px;
}
.fa-temperature-low {
  width: 25px;
}
.low-temp {
  color: black;
  opacity: 0.5;
}
.low-degree {
  color: black;
}
.low-temp,
.high-temp {
  display: flex;
  align-items: center;
  width: 60px;
  padding-top: 15px;
}
.high-degree {
  margin-left: 5px;

  text-align: center;
}
.low-degree {
  margin-left: 5px;
  text-align: center;
}
.high-temp {
  padding-bottom: 15px;
}

.unit {
  align-self: flex-start;
  font-size: 13px;
}
.city {
  padding-left: 15px;
}
.city h1 {
  margin-bottom: 2px;
  font-weight: 300;
}
.city ul {
  padding-left: 0px;
  margin-bottom: 0px;
}
.city li {
  text-align: left;
  list-style: none;
}
.city li:first-child {
  position: relative;
}
.degree-units {
  position: absolute;
  top: 4px;
}

#celsius,
#fahrenheit {
  text-decoration: none;
}
#current-degree {
  width: auto;
  text-align: left;
  display: inline-block;
  font-size: 30px;
  font-weight: 300;
}
#city {
  text-transform: capitalize;
  margin-top: 0px;
}

.clicked {
  color: black;
  cursor: default;
}
#celsius:focus,
#celsius:active,
#fahrenheit:focus,
#fahrenheit:active {
  text-decoration: none;
  color: black;
}
.clicked:hover {
  color: black;
}
footer {
  padding-left: 0px !important;
  display: block !important;
  border-width: 0px !important;
}
#weather-description {
  padding: 5px 0px;
}
#weather-icon {
  margin-left: -10px;
}
.row {
  justify-content: space-around;
}

.forecast-row {
  color: black;
}
.forecast-details {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgb(245 245 245 / 32%);
  box-shadow: 0 0 3px 0px #9e9e9e8a;
  border-radius: 5px;
  margin-top: 10px;
  padding: 5px 0px;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temp-min {
  opacity: 0.5;
}
.footer {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 5px;
}
.col-2 {
  width: 17.5% !important;
}
.padding-left {
  padding-left: 3px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  #current-location-btn {
    font-size: 12px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .city li {
    text-align: center;
  }
  .weather-icon {
    margin-top: 10px;
  }
  .high-low-temp ul {
    flex-flow: row !important;
    justify-content: space-around;
    margin-top: 10px;
  }
  li.low-temp {
    padding-bottom: 15px;
  }
}
@media (max-width: 990px) {
  .input-text {
    width: 100%;
  }
  #current-location-btn {
    display: none;
  }
  .card {
    padding: 30px 0px;
    max-width: 90%;
  }
  .card-body {
    padding: 0px;
  }
}
